@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background: #FFD93D;
  margin: 20px;
}

#searchInput,
#templateTitle {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  background: #FFF;
  border: 1px solid #E5E5E5;
  border-top-left-radius: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 0px;
  font-size: 14px;
  width: 100%;
}

#searchInput:focus,
#templateTitle:focus {
  outline: none;
}

.inputIcon {
  min-width: 20px;
  background: #FFD93D;
  padding: 10px 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 7px;
  margin-right: -10px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: -webkit-fill-available;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 187px 75px, rgba(0, 0, 0, 0.05) 0px 105px 63px, rgba(0, 0, 0, 0.09) 0px 47px 47px, rgba(0, 0, 0, 0.1) 0px 12px 26px, rgba(0, 0, 0, 0.1) 0px 0px 0px;
  border-radius: 10px;
  padding: 20px;
}

.saveTemplate {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 20px 10px 20px;
}

.search-container input {
  width: 100%;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.categories button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px 0px;
  background: #FFD93D;
  border: 0px;
  border-radius: 8px;
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.categories button:hover {
  animation: jello-horizontal 0.9s both;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#resultsContainer {
  height: 75vh;
  /* Set the desired height */
  overflow: auto;
  /* Enable scrollbar when content exceeds the container height */
}

.results hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #ECECEC;
}

.results p {
  padding: 0 20px;
}

p.label {
  font-weight: bold;
  line-height: 10px;
}

.results .entry {
  display: flex;
  gap: 12px;
  padding: 10px 20px;
  transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.results .entry:hover {
  background-color: #EEE;
  border-radius: 7px;
}

.results .results-list {
  display: flex;
  flex-direction: column;
}

.results .entry.show-template {
  display: grid;
}

.results .entry .icon {
  min-width: 10px;
  background-color: #FFD93D;
  border-radius: 7px;
  transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.results .entry .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.results .entry .desc label {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #171718;
}

.results .entry .desc span {
  line-height: 16px;
  font-size: small;
  color: #72767c;
}

.results .entry .badge {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #FFD93D;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.badge:hover {
  animation: jello-horizontal 0.9s both;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Hide the default checkbox */
.containerbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  animation: jello-horizontal 0.9s both;
}

.checkmark:hover {
  animation: jello-horizontal 0.9s both;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  background: #FFD93D;
  border-radius: 7px;
  width: 40px;
  height: 40px;
}

/* Show the checkmark when checked */
.containerbox input:checked~.checkmark:after {
  display: block;
}

/* Style the unchecked checkmark/indicator */
.containerbox .checkmark:after {
  width: 45%;
  margin: auto;
  position: fixed;
  padding-top: 9px;
  padding-left: 11px;
  content: url(../img/html5.svg);
}

/* Style the checked checkmark/indicator */
.containerbox input:checked~.checkmark:after {
  width: 45% !important;
  margin: auto;
  position: fixed;
  padding-top: 9px;
  padding-left: 9px;
  content: url(../img/paragraph.svg);
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


/* Add this CSS code to your custom CSS file */
/* Styling for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 10px 30px 30px 30px;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 187px 75px, rgba(0, 0, 0, 0.05) 0px 105px 63px, rgba(0, 0, 0, 0.09) 0px 47px 47px, rgba(0, 0, 0, 0.1) 0px 12px 26px, rgba(0, 0, 0, 0.1) 0px 0px 0px;
  border-radius: 10px;
  width: 50%;
}

.modal-header {
  margin-bottom: 30px;
  margin-left: -10px;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: -13px;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Style the textarea to display clipboard content */
textarea#clipboardContent {
  width: 100%;
  height: 300px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: -10px;
}